<div class="formula-bar">f(x)=<input id="formulaInput" [value]="activeCell.value || ''" (input)="activeCell.value = $event.target.value" type="text"></div>

<div class="grid" (scroll)="onGridScroll($event)">

  <div class="cell corner"></div>
  <div class="cell topRow" *ngFor="let col of cells[0]; let ci = index">{{ numToAlpha(ci) }}</div>
  
  <ng-container *ngFor="let row of cells; let ri = index">
    <div class="cell leftCol">{{ ri }}</div>
    <ng-container *ngFor="let cell of row; let ci = index">
      <div class="cell" [class.activeCell]="cell.row === activeCell.row && cell.col === activeCell.col"  (click)="cellClick(cell)">
        {{ getCellCode(cell) }} {{ cell.value }}
      </div>
    </ng-container>
  </ng-container>

</div>
